body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://source.unsplash.com/WLxQvbMyfas/1920x1080') no-repeat center center fixed;
    background-size: cover;
}

.weather-container {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    text-align: left;
    padding: 20px 30px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.search-bar button {
    padding: 20px 30px;
    border: none;
    border-radius: 35px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.search-bar button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.weather-info h1 {
    font-size: 2em;
    margin: 0;
}

.weather-info p {
    margin: 5px 0;
}

.weather-info h2 {
    font-size: 3em;
    margin: 10px 0;
}
